*.tfstate
*.terraform
*.terraform.backup
*.md
Dockerfile*

# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate*
**/templates
**/templates/**
**/Certificate
**/logs.sh
**/Terraform
**/test
**/proxy-http.sh
**/.key/**
**/.pem/**
*/README.md
