*.tfstate
*.terraform
*.terraform.backup
*.md
Dockerfile*

# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate*
./ESClusterDeployment/*.yml
**/Certificate
**/logs.sh
**/proxy-http.sh
**/.key/**
**/.pem/**
